[submodule "argon2_wasm/emsdk"]
	path = argon2_wasm/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "argon2_wasm/phc-winner-argon2"]
	path = argon2_wasm/phc-winner-argon2
	url = https://github.com/andreaba0/phc-winner-argon2-wasm.git
